.update-container{
    margin: 3%;
}

.update input{
    background: none;
    border: none;
   border-bottom: 0.5px solid rgb(190, 188, 188);

}
.update{
    margin-bottom: 2%;

}

.update-item{
    margin-bottom: 2%;
    margin-left: 3%;
    
    display:grid;
    width:40%;
    grid-template-columns: 1.1fr 1fr 1fr;
}

.buttons-update{
    color:gold;
}



.add-container{
    margin-left: 6%;
}

.add-item{
    display: grid;
    grid-template-columns: 0.6fr 0.6fr;
    width:30%;
}
.add-btn{
    margin-top:2%;
    margin-bottom: 5%;
    background-color:gold;
    width: 30%;
    display: grid;
    height:6vh;
}
.btn-text{
    align-self: center;
    justify-self: center;
    text-shadow: 0.3px 0.3px 0.3px black;
}


#add-header{
    margin-left:3%;
}

.add-container input{
    background: none;
    border: none;
   border-bottom: 0.5px solid rgb(190, 188, 188);


}
#line{
    border-bottom: 1px solid rgb(190, 188, 188);
    opacity: 0.5;
}

.buttons-update{
    cursor: pointer;
}

.add-btn{
    cursor: pointer;
}
.add-btn:hover{
    background-color: black;
    color: gold;
}

.fa-thumbs-up{
    color: rgb(117, 238, 117);
    margin-left:10%;
}

.change-btn{
    margin-left:3%;
}

.added-hide{
    display: none;
}

.btns{
    display: grid;
    grid-template-columns: 10fr 3fr;
}

.added{
    
    background-color:gold;
    width: 35%;
    border-radius: 50%;
    display: grid;
    height:14vh;
    animation: add 1s ease-in-out 1;
    
}

.new-client{
    
    display: grid;
    height:6vh;
    align-self: center;
    justify-self: center;
}
@keyframes add {
    0%{
        opacity: 0;
        transform: scale(0.5)
    }
    50%{
        opacity: 0.85;
        transform: scale(1.2);
    }
    100%{
        opacity: 0;

    }
}
